{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
{% load tz %}
{% block mycss%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
{% endblock %}
{% block title %}پروفایل{% endblock %}

{% block navleft %}
<form method="post" action="{% url 'account:logout' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-secondary">خروج</button>
</form>
{% endblock %}
{% block navright %}
<h4>{{ shop.name }} | فهرست نوبت ها</h4>
{% endblock %}

{% block content %}
<h1>پروفایل شما</h1>
    <p>خوش آمدید، {{ user.nickname }}!</p>
    <p>نام: {{ user.first_name|default:"ثبت نشده" }}</p>
    <p>نام خانوادگی: {{ user.last_name|default:"ثبت نشده" }}</p>
    <p>ایمیل: {{ user.email|default:"ثبت نشده" }}</p>
    <p>نقش: {{ user.role|default:"-" }}</p>
    <p>شماره تلفن: {{ user.phone|default:"ثبت نشده" }}</p>
    {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" alt="آواتار" width="100">
    {% else %}
        <p>آواتار: ثبت نشده</p>
    {% endif %}
    <p>درباره من: {{ profile.bio|default:"هنوز چیزی ننوشته‌اید" }}</p>
    <p>آرایشگاه: {% if profile.shop %}{{ profile.shop.name }}{% else %}ثبت نشده{% endif %}</p>

    <a href="{% url 'account:edit_barber_profile' %}">ویرایش پروفایل</a>
    <br>
    <a href="{% url 'account:change_password' %}">ویرایش گذرواژه</a>
    <br><br>
    
    <a href="{% url 'salon:barber_appointments' profile.shop.id %}" class="btn btn-primary">همه نوبت ها</a>     
    <br><br>
    <form method="post" action="{% url 'account:logout' %}">
        {% csrf_token %}
        <button type="submit">خروج</button>
    </form>
{% endblock %}