{% extends 'base.html' %}
{% block title %}پروفایل{% endblock %}
{% block content %}
<h2>تغییر گذرواژه</h2>
<form method="post">
  {% csrf_token %}
  
  <div class="form-group">
    {{ form.old_password.label_tag }}
    {{ form.old_password }}
    {{ form.old_password.errors }}
  </div>
  
  <div class="form-group">
    {{ form.new_password1.label_tag }}
    {{ form.new_password1 }}
    {{ form.new_password1.errors }}
  </div>

  <div class="form-group">
    {{ form.new_password2.label_tag }}
    {{ form.new_password2 }}
    {{ form.new_password2.errors }}
  </div>

  <button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
</form>
{% endblock %}