{% extends 'base.html' %}
{% block title %} | ویرایش گذرواژه{% endblock %}
{% block navleft %}
  {% if user.role == 'manager' %}
    <a href="{% url 'account:profile' %}" class="btn btn_nav">پروفایل</a>
  {% elif user.role == 'barber' %}
    <a href="{% url 'account:barber_profile' %}" class="btn btn_nav">پروفایل</a>
  {% elif user.role == 'customer' %}
    <a href="{% url 'account:customer_profile' %}" class="btn btn_nav">پروفایل</a>
  {% endif %}
{% endblock %}

{% block navright %}
<div class="d-flex align-items-baseline justify-content-end">
  <h1>آرایشگر من</h1>
</div>
{% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow rounded-4">
      <div class="card-body p-4">
        <h5 class="mb-4 text-center">ویرایش گذرواژه</h5>
        <form method="post">
          {% csrf_token %}

          <div class="form-group mb-3">
            {{ form.old_password.label_tag }}
            {{ form.old_password }}
            {{ form.old_password.errors }}
          </div>

          <div class="form-group mb-3">
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            {{ form.new_password1.errors }}
          </div>

          <div class="form-group mb-3">
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
            {{ form.new_password2.errors }}
          </div>
          <div class="form-group mb-3 text-left">
            <button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}