{% extends 'base.html' %}
{% load custom_filters %} 


{% block title %}پروفایل{% endblock %}
{% block navbar%}

{% endblock %}
{% block content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<!-- فرم جستجو -->
<form method="GET" action="{% url 'account:customer_list' shop.id %}" class="d-flex">
    <input type="text" name="search" value="{{ search_query }}" placeholder="جستجو...">
    <input type="hidden" name="show_active" value="{{ show_active|yesno:'true,false' }}">
    <button type="submit">جستجو</button>
</form>

<table>
    <thead>
        <tr>
            <th>نام کاربری</th>
            <th>نام خانوادگی</th>
            <th>تلفن</th>
            <th>تاریخ عضویت</th>
            <th>وضعیت</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        {% for customer_shop, customer, joined_at in customers_with_joined %}
            <tr>
                <td>{{ customer.username }}</td>
                <td>{{ customer.lastname }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ joined_at|j_date }}</td>
                <td>{{ customer_shop.is_active|yesno:"فعال,غیرفعال" }}</td>
                <td>
                    <a href="{% url 'account:toggle_customer_status' customer.id shop.id %}">
                        {{ customer_shop.is_active|yesno:"غیرفعال,فعال" }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<a href="{% url 'salon:manage_shop' shop.id %}">صفحه مدیریت</a>
{% endblock %}