{% extends 'base.html' %}
{% load static %}
{% block title %}نوبت آرا | ویرایش پرونده {{ user.nickname }}{% endblock %}

{% block navleft %}
<a href="{% url 'account:profile' %}" class="btn btn-secondary">بازگشت به پروفایل</a>
<form method="post" action="{% url 'account:logout' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-secondary">خروج</button>
</form>
{% endblock %}
{% block navright %}
<div class="d-flex align-items-baseline justify-content-end">
    <h4>نوبت آرا | ویرایش پرونده {{ user.nickname }}</h4>
</div>
{% endblock %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id_first_name">نام</label>
                    <input type="text" class="form-control" name="first_name" value="مهران" maxlength="30" required="" id="id_first_name">        
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id_last_name">نام خانوادگی</label>
                    <input type="text" class="form-control" name="last_name" value="مدیری" maxlength="150" required="" id="id_last_name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id_email">رایانامه</label>
                    <input type="email" class="form-control" name="email" maxlength="320" id="id_email">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id_address">نشانی</label>
                    <input type="text" class="form-control" name="address" maxlength="255" id="id_address">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="id_avatar">فرتور</label>
                    {% if form.instance.avatar %}
                        <p><img src="{{ form.instance.get_avatar_url }}" alt="آواتار فعلی" style="max-width: 100px;"></p>
                    {% else %}
                    <p><img src="{% static 'images/default_avatar.png' %}" alt="آواتار پیشفرض" style="max-width: 100px;"></p>
                    {% endif %}
                </div>
                <div class="from-group">
                    <input type="file" name="avatar" accept="image/png,image/jpeg" id="id_avatar">
                </div>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id_bio">درباره من</label>
                    <textarea name="bio" class="form-control" cols="40" rows="4" id="id_bio"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-left">
                <button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
            </div>
        </div>
    {% endblock %}