<!-- account/templates/account/home.html -->
{% extends 'base_index.html' %}
{% block title %}{% endblock %}
{% block navbar %}به آرایشگر من خوش آمدید{% endblock %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow rounded-4">
            <div class="card-body p-4">

                <p>لطفاً نقش خود را انتخاب کنید:</p>
                <a href="{% url 'account:manager_signup_phone' %}">نام نویسی به عنوان مدیر</a><br>
                <a href="{% url 'account:customer_signup_phone' %}">نام نویسی به عنوان مشتری</a><br>
                <a href="{% url 'login' %}">ورود</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}