{% extends 'base.html' %}
{% load static%}


<!-- templates/account/profile.html -->
{% block title %}پروفایل{% endblock %}

{% block content %}
<div class="form-group">
        {% if profile.avatar %}
            <p>آواتار فعلی: <img src="{{ profile.get_avatar_url }}" alt="آواتار فعلی" style="max-width: 100px;"></p>
        {% else %}
        <p>آواتار فعلی: <img src="{% static 'images/default_avatar.png' %}" alt="آواتار پیشفرض" style="max-width: 100px;"></p>
        {% endif %}
    </div>
    {% if user.first_name or user.last_name %}
    <p>نام: {{ user.nickname }}</p>
    {% else %}
    <p>نام: خالی</p>
    {% endif %}
    <p>تلفن: {{ user.phone }}</p>
    {% if user.email %}
    <p>رایانامه: {{ user.email }}</p>
    {% else %}
    <p>رایانامه: خالی</p>
    {% endif %}
        <h2>آرایشگاه‌های شما</h2>
        {% for shop in user.managed_shops.all %}
            <p>
                {{ shop.name }}
                <a href="{% url 'salon:manage_shop' shop.id %}">مدیریت</a>|
                <a href="{% url 'salon:manager_appointments' shop.id %}">مشاهده نوبت‌ها</a>
            </p>
        {% empty %}
            <p>شما هنوز آرایشگاهی ثبت نکرده‌اید.</p>
        {% endfor %}
        <a href="{% url 'salon:create_shop' %}">ایجاد آرایشگاه جدید</a>|

    <a href="{% url 'account:edit_manager_profile' %}">ویرایش پروفایل</a>|
    
    <form method="post" action="{% url 'account:logout' %}">
        {% csrf_token %}
        <button type="submit">خروج</button>
    </form>
{% endblock %}