<!-- account/templates/account/profile.html -->
<!DOCTYPE html>
<html>
<head>
    <title>پروفایل مدیر</title>
</head>
<body>
    <h1>پروفایل شما</h1>
    <p>خوش آمدید، {{ user.username }}!</p>
    <h2>آرایشگاه‌های شما</h2>
    
    {% if shops %}
        <ul>
        {% for shop in shops %}
            <li>{{ shop.name }} (کد یکتا: {{ shop.referral_code }}) - {{ shop.status }}</li>
            <a href="{% url 'salon:create_barber' shop.id %}">ایجاد آرایشگر جدید</a>
        {% endfor %}
        </ul>
    {% else %}
        <p>در حال حاضر آرایشگاهی ندارید.</p>
    {% endif %}
    <a href="{% url 'salon:create_shop' %}">ایجاد آرایشگاه جدید</a>
    <br>    
    <a href="{% url 'account:logout' %}">خروج</a>
</body>
</html>