{% extends 'base.html' %}
{% load custom_filters %}
{% load tz %}
{% block title %}آرایشگر من{% endblock %}
{% block navleft %}
<a href="{% url 'account:barber_profile' %}" class="btn btn_nav">پروفایل</a>
{% endblock %}
{% block navright %}
<div class="d-flex align-items-baseline justify-content-end">
    <h1>آرایشگر من</h1>
</div>
{% endblock %}

{% block content %}

<div class="row justify-content-center mb-4">
    <div class="col-md-6">
        <div class="card shadow rounded-4">
            <div class="card-body p-4">
                <h5 class="mb-4 text-center">جزییات</h5>
                <div class="profile_manager_info">
                    <label for="" class="text-center">آرایشگر:</label>
                    {{ appointment.barber.nickname }}
                </div>
                <div class="profile_manager_info">
                    <label for="" class="text-center">مشتری:</label>
                    {{ appointment.customer.nickname }}
                </div>
                <div class="profile_manager_info">
                    <label for="" class="text-center">تاریخ/زمان:</label>
                    {{ appointment.start_time|j_date }} {{appointment.start_time|localtime|j_time }}
                </div>
                <div class="profile_manager_info">
                    <label for="" class="text-center">خدمات:</label>
                    {{ appointment|get_services }}
                </div>
                <div class="profile_manager_info">
                    <label for="" class="text-center">وضعیت:</label>
                    {% if appointment.status == 'canceled' and appointment.canceled_by %}
                        <span style="color: red;">این نوبت توسط {{ appointment.get_canceled_by_display }} لغو شده است.</span>
                    {% elif appointment.status == 'pending' and appointment.start_time < now %} 
                        <span style="color: gray;">این نوبت منقضی شده است.</span>
                    {% else %}
                        {{ appointment.get_status_display }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
