{% extends 'base.html' %}
{% load tz %}
{% load custom_filters %}

{% block title %}جزئیات نوبت{% endblock %}
{% block navleft %}
<a href="{% url 'salon:customer_appointments' %}" class="btn btn-secondary">بازگشت به مدیریت</a>
<form method="post" action="{% url 'account:logout' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-secondary">خروج</button>
</form>
{% endblock %}
{% block navright %}
<h4>{{ appointment.shop.name }} | تایید نوبت</h4>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12"><strong>آرایشگاه:</strong> {{ appointment.shop.name }}</div>
    <div class="col-12"><strong>آرایشگر:</strong> {{ appointment.barber.nickname }}</div>
    <div class="col-12"><strong>تاریخ/زمان:</strong> {{ appointment.start_time|j_date }} {{ appointment.start_time|localtime|j_time }}</div>
    <div class="col-12"><strong>خدمات:</strong> {{ appointment|get_services }}</div>
    <div class="col-12"><strong>وضعیت:</strong>
        {% if appointment.status == 'canceled' %} <!--  and appointment.canceled_by -->
            <span style="color: red;">این نوبت توسط {{ appointment.get_canceled_by_display }} لغو شده است.</span>
        
        {% elif appointment.status == 'pending'  and appointment.start_time < now  %}
            <span style="color: gray;">این نوبت منقضی شده است.</span>
        {% else %}
            {{ appointment.get_status_display }}
        {% endif %}
    </div>
    


    {% if  appointment.status == 'confirmed' and appointment.start_time > now  %}
    <div class="col-12 mt-3">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">لغو نوبت</button>
        </form>
    </div>
    {% elif appointment.status == 'pending' and appointment.start_time > now %}
    <div class="col-12 mt-3">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">لغو نوبت</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}
