<!-- salon/barber_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>آرایشگرهای {{ shop.name }}</title>
</head>
<body>
    <h1>آرایشگرهای {{ shop.name }}</h1>
    <br><br>
    
    {% if barbers %}
        <ul>
        {% for barber in barbers %}
            <li>{{ barber.username }} ({{ barber.phone }})</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>در حال حاضر آرایشگری برای این آرایشگاه ثبت نشده است.</p>
    {% endif %}
    
    <a href="{% url 'salon:shop_list' %}">بازگشت به لیست آرایشگاه‌ها</a>
</body>
</html>