<!-- templates/salon/barber_appointments.html -->
{% extends 'base.html' %}
{% block title %}پروفایل{% endblock %}
{% block content %}
    <h1>نوبت‌های من</h1>
    {% if appointments %}
        <table>
            <thead>
                <tr>
                    <th>مشتری</th>
                    <th>سرویس</th>
                    <th>زمان شروع</th>
                    <th>زمان پایان</th>
                    <th>وضعیت</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                    <tr>
                        <td>{{ appointment.customer.username }}</td>
                        <td>{{ appointment.service.name }}</td>
                        <td>{{ appointment.start_time }}</td>
                        <td>{{ appointment.end_time }}</td>
                        <td>{{ appointment.get_status_display }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>شما هیچ نوبت فعالی ندارید.</p>
    {% endif %}
    <a href="{% url 'account:profile' %}">بازگشت به پروفایل</a>
    {% endblock %}