<!-- templates/salon/manager_appointments.html -->
{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
{% load tz %}
{% block mycss%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
{% endblock %}
{% block title %}نوبت ها{% endblock %}

{% block navleft %}
<a href="{% url 'account:barber_profile' %}" class="btn btn_nav">پروفایل</a>
{% endblock %}

{% block navright %}
<div class="d-flex align-items-baseline justify-content-end">
    <h1>آرایشگر من</h1>
</div>
{% endblock %}

{% block content %}
<h5>نوبت‌های {{barber_profile}}</h5>
{% if appointments %}

<table class="table table-hover align-middle text-center w-100">
    <thead>
        <tr>
            <th></th>
            <th class="px-4">مشتری</th>
            <th class="px-4">تاریخ</th>
            <th class="px-4">ساعت</th>
            <th class="px-4">وضعیت</th>
            <th class="px-4">عملیات</th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ appointment.customer.nickname }}</td>
            <td>{{ appointment.start_time|j_date }}</td>
            <td>{{ appointment.start_time|localtime|j_time }} تا {{ appointment.end_time|localtime|j_time }}</td>
            <td>
                {% if appointment.status == 'pending' %}
                {% if appointment.start_time > now %}
                نوبت جدید
                {% else %}
                منقضی شده
                {% endif %}
                {% elif appointment.status == 'confirmed' %}
                {% if appointment.start_time > now %}
                تأیید شده
                {% else %}
                انجام شده
                {% endif %}
                {% elif appointment.status == 'completed' %}
                تکمیل شده
                {% elif appointment.status == 'canceled' %}
                لغو شده
                {% endif %}
            </td>
            <td>
                <a href="{% url 'salon:appointment_detail_barber' appointment.id %}"
                    class="text-info text-decoration-none">
                    <i class="bi bi-info-circle"></i> جزییات
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>شما هیچ نوبت فعالی ندارید.</p>
{% endif %}

{% endblock %}