<!-- salon/create_barber.html -->
<!DOCTYPE html>
<html>
<head>
    <title>ثبت آرایشگر جدید برای {{ shop.name }}</title>
</head>
<body>
    <h1>{{shop.manager}}</h1>
    <h1>ثبت آرایشگر جدید برای {{ shop.name }} - {{shop.referral_code}}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">ثبت آرایشگر</button>
    </form>
    <a href="{% url 'salon:manage_shop' shop.id %}">بازگشت به مدیریت آرایشگاه</a>

</body>
</html>