<!-- templates/salon/customer_appointments.html -->
{% extends 'base.html' %}
{% block title %}نوبت آرا | نوبت های  {{ user.nickname }}{% endblock %}
{% load tz %}

{% load custom_filters %}
{% block navleft %}
<a href="{% url 'account:customer_profile' %}" class="btn btn-secondary">بازگشت به پروفایل</a>
<form method="post" action="{% url 'account:logout' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-secondary">خروج</button>
</form>
{% endblock %}
{% block navright %}
<div class="d-flex align-items-baseline justify-content-end">
    <h4>نوبت آرا | نوبت‌های {{ user.nickname }}</h4>
</div>
{% endblock %}
{% block content %}
    <h5>نوبت‌های من:</h5>
    {% if appointments %}
        <table class="w-100">
            <thead>
                <tr>
                    <th></th>
                    <th>آرایشگاه</th>
                    <th>سرویس</th>
                    <th>آرایشگر</th>
                    <th>تاریخ</th>
                    <th>زمان شروع</th>
                    <th>زمان پایان</th>
                    <th>وضعیت</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                    <tr>
                        <td>{{ forloop.counter }}</td> 
                        <td>{{ appointment.shop.name }}</td>
                        <td>{{ appointment|get_services }}</td>
                        <td>{{ appointment.barber.nickname }}</td>
                        <td>{{ appointment.start_time|j_date }}</td>
                        <td>{{ appointment.start_time|localtime|j_time }}</td>
                        <td>{{ appointment.end_time|localtime|j_time }}</td>
                        <td>{{ appointment.get_status_display }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>شما هیچ نوبت فعالی ندارید.</p>
    {% endif %}
    {% endblock %}