<!-- salon/edit_shop.html -->
{% extends 'base.html' %}
{% load custom_filters %}
{% block mycss %}
<style>
    select{
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        padding: 2px 5px;
    }
</style>
{% endblock %}
{% block title %}پروفایل{% endblock %}
{% block navleft %}
<a href="{% url 'salon:manage_shop' shop.id %}" class="btn btn-secondary">بازگشت به مدیریت</a>
<form method="post" action="{% url 'account:logout' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-secondary">خروج</button>
</form>
{% endblock %}
{% block navright %}
<h4>{{ shop.name }} | ویرایش اطلاعات</h4>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <p>
                    <label for="id_name">نام آرایشگاه:</label>
                    <input type="text" class="form-control" name="name" value="پیرایش منصوری" maxlength="100" required="" id="id_name">
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <label for="id_phone">شماره تماس:</label>
                    <input type="text" class="form-control"  name="phone" value="333" maxlength="15" required="" id="id_phone">
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    <label for="id_address">آدرس دقیق:</label>
                    <textarea name="address" class="form-control"  cols="40" rows="10" required="" id="id_address">st yas</textarea>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="id_address" class="d-inline-block">وضعیت:</label>
                {{form.status}}
            </div>
            <div class="col-md-6 text-left">
            <button type="submit">ذخیره تغییرات</button>
            </div>
        </div>
    </form>
{% endblock %}