<!-- salon/create_barber.html -->
{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}پروفایل{% endblock %}

{% block navright %}
<h1>آرایشگر من</h1>
{% endblock %}
{% block mycss%}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
    }

    th,
    td {
        padding: 12px;
        text-align: center;
        border: 1px solid #ddd;
    }

    th {
        background-color: #000;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    td input {
        width: 90px;
        padding: 0px;
        text-align: center;
        font-size: 14px;
    }

    .error {
        color: red;
        margin-bottom: 15px;
    }

</style>
{% endblock %}
{% block navleft %}
<a href="{% url 'account:profile' %}" class="btn btn_nav">پروفایل</a>
<a href="{% url 'salon:manage_shop' shop.id %}" class="btn btn_nav">مدیریت</a>
{% endblock %}

{% block content %}
<!-- نمایش خطاهای فرم -->
<div class="row justify-content-center">
    <div class="col">
        <div class="card shadow rounded-4">
            <div class="card-body p-4">
                <h5 class="mb-4 text-center">تنظیم ساعت کاری آرایشگر</h5>
<form method="get">
    <label for="barber">انتخاب آرایشگر:</label>
    <select name="barber" onchange="this.form.submit()">
        <option value="">-- انتخاب کنید --</option>
        {% for barber in barbers %}
        <option value="{{ barber.id }}" {% if selected_barber and selected_barber.id == barber.id %}selected{% endif %}>
            {{ barber.user.get_full_name }}
        </option>
        {% endfor %}
    </select>
</form>

{% if selected_barber %}
<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
        <thead>
            <tr>
                <th>روز</th>
                <th>باز/بسته</th>
                <th>شروع</th>
                <th>پایان</th>
                <th>استراحت از</th>
                <th>تا</th>
            </tr>
        </thead>
        <tbody>
            {% for form, schedule in form_schedule_pairs %}
            <tr>
                <td>{{ schedule.get_day_of_week_display }}</td>
                <td>{{ form.is_open }}</td>
                <td>{{ form.start_time }}</td>
                <td>{{ form.end_time }}</td>
                <td>{{ form.break_start }}</td>
                <td>{{ form.break_end }}</td>
            </tr>
            {{ form.id.as_hidden }}
            {{ form.day_of_week.as_hidden }}
            {% endfor %}
        </tbody>
    </table>
    <div class="text-left">
        <button type="submit" class="btn custom-btn">ذخیره</button>
    </div>
</form>

</div>
</div>
</div>
</div>
{% endif %}


{% endblock %}