<!-- salon/shop_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>لیست آرایشگاه‌ها</title>
</head>
<body>
    <p>مدیر: {{user.phone}}</p>
    <h1>آرایشگاه‌های شما</h1>
    
    {% if shops %}
        <ul>
        {% for shop in shops %}
            <li>
                {{ shop.name }} (کد یکتا: {{ shop.referral_code }}) - {{ shop.status }}
                <a href="{% url 'salon:create_barber' shop.id %}">ثبت آرایشگر جدید</a> |
                <a href="{% url 'salon:barber_list' shop.id %}">مشاهده آرایشگرها</a> |
                <a href="{% url 'salon:create_service' shop.id %}">ثبت خدمت جدید</a> |
                <a href="{% url 'salon:service_list' shop.id %}">مشاهده خدمات</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>در حال حاضر آرایشگاهی ندارید.</p>
    {% endif %}
    <a href="{% url 'salon:create_shop' %}">ایجاد آرایشگاه جدید</a>
    <br>    
    <a href="{% url 'account:profile_manager' %}">بازگشت به پروفایل</a>
</body>
</html>