<!-- templates/base.html -->
{% load custom_filters %}
{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}عنوان صفحه{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
     
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mystyles.css' %}">
    {% block mycss%}{% endblock %}
</head>
<body class="p-2">
    <header>
        <nav class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex justify-content-first">
                        {% block navright %}{% endblock %}    
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-end">
                    {% block navleft %}{% endblock %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
    <hr>
        {% block content %}
        <!-- محتوای صفحه -->
        {% endblock %}
    </div>

    

{% block myjs %}
<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
    
</body>
</html>